body {
  margin: 0;
}

.first_section {
  padding: 20px; 
  background-color: brown; 
  color: white;
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  padding: 20px;
}

.menu {
  padding: 20px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  text-decoration: none;
  list-style: none;
  padding: 0px 10px;
}